<script>
import { Todo, TodoStatus } from '../model/todo';
import { store } from '../store/store';

export default {
  props: {
    todo: Todo,
  },
  data() {
    return {
      store: store,
      isCompleted: this.todo.status === TodoStatus.DONE
    }
  },
  methods: {
    onDelete() {
      this.store.remove(this.todo.id);
    },
    onToggle() {
      this.isCompleted = !this.isCompleted;
      const newStatus = this.isCompleted ? TodoStatus.DONE : TodoStatus.TODO;
      this.store.updateStatus(this.todo.id, newStatus);
    }
  },
};
</script>

<template>
  <div class="todo-item">
    <input id="todo_{{ todo.id }}" type="checkbox" v-model="isCompleted" @click="onToggle" checked="{{ todo.status === TodoStatus.DONE }}" />
    <span class="item-text" v-if="isCompleted">
      <s>{{ todo.content }}</s>
    </span>
    <span class="item-text" v-else>
      {{ todo.content }}
    </span>
    <button class="icon delete" @click="onDelete" name="close">
      <font-awesome-icon icon="fa-solid fa-trash-can" />
    </button>
  </div>
</template>

<style lang="scss" scoped>
.todo-item {
  padding: 0.5rem;
  color: #0059ffa0;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  input[type=checkbox]  {
    margin: 1rem;
    --borderColor: #48c;
    --borderWidth: .125em;
    background: #fff;
    font-size: 2.4em;
    border-radius: 0.125em;
    display: inline-block;
    border: var(--borderWidth) solid var(--borderColor);
    width: 1em;
    height: 1em;
    position: relative;
  }

  button.delete {
    margin: 1rem;
    padding: 0.4rem;
    background: rgb(93, 156, 189);
    border-radius: 16px;
    border-width: 0 0 4px;
    width: 3em;
    height: 100%;
  }

  .item-text {
    width: 100%;
    font-size: 1.8em;
  }

  .icon {
    cursor: pointer;
    font-size: 1.5rem;
  }
}
</style>